
        
        .Contenedor{
            display: grid;
            align-content: center;
            padding: 20px;
            border-radius: 8px;
        }
        
        h1{
            color: white;
            font-size: 85px;
            text-align: center;
            margin-bottom: 60px;
            }
        span{
            font-size: 20px;
            color: white;
            padding: 0 250px;
            margin-bottom: 65px;
        }

        .btn-1{
            text-align: center;
            padding: 15px 20px;
            background-color: #e91e63;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            width: auto;
            max-width: 250px;
            margin: 0 auto;
        }