body {
           background-color: #222;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }

        .contenedor {
            background: white;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 100%;
            text-align: center;
        }

        .title {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }

        .title_2 {
            font-size: 1.5rem;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        p {
            font-size: 1rem;
            color: #333;
            margin-bottom: 10px;
        }

        form {
            display: grid;
            gap: 15px;
            margin-top: 20px;
        }

        .input-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .input-group p {
            margin-bottom: 5px;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-sizing: border-box;
        }

        button {
            background-color: #e91e63;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 20px;
        }

        button:hover {
            background-color: #0033a0;
        }